@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-width: thin;
    scroll-padding: 0;
    scroll-margin: 0;
}

.custom-font{
    font-family: "Noto Sans", sans-serif;
}

.custom-btn{
    background-color: #F27901;
}

.custom-btn:hover {
    background-color: #F27901;;
}

.custom-color {
    color : #F27901;
}


.custom-border {
   position: relative;
}

.custom-border::after {
    position: absolute;
    bottom : 0;
    left : 0;
    background: #F27901;
    width: 100%;
    height: 1px;
    transform: scale(0,1);
    content : "";
    transition: transform .5s ease;
}

.customer-bordercolor::after {
    background: rgba(0, 0, 255,.8)!important;
}

.custom-border:hover::after {
   transform: scale(1,1);

}

.custom-hover-control:hover {
    color: #F27901!important;
}